body{
    font-family: "Radio Canada Big", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;

}

.nav-link{
    color: #222222 !important
}


/* Footer */


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-left: 0.5rem;

}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.15rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
   
}
.f-info-socials i:hover{
    color: #fe424d;
    cursor: pointer;
}

/* Index */

.card{
    border: none !important;
    margin-bottom: 2rem;


}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
    margin: 0 !important;
    
}


.card-text p{
    font-family: 500 !important;
    
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.4;
    background-color: whitesmoke;
    transition: ease-out 2ms;
}


/* New Listings */
.add-btn{
    border: none !important;
    background-color: #db3a44 !important;
}

/* Edit */
.edit-btn{
    border: none !important;
    background-color: #df3d48 !important;
}

/* Show image */
.show-img{
    height: 30vh;
}

.show-card{
    padding-left: 0 !important;
    padding-right: 0 !important; 
}
.btns{
    display: flex !important;
}


.btns a{
    background-color: #fe424d;
    border: none !important;
}

