<% layout('/layouts/boilerplate.ejs') %>
<h3>All Listing</h3>
<!-- <form method="GET" action="/listings/new">
        <button>Create New Lisitng</button>
    </form> -->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <% for(let listing of allListing){ %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col">
      <img
        src="<%= listing?.image %>"
        class="card-img-top"
        alt="listing_images"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b> <%= listing?.title %></b> <br />
          &#8377; <%=listing?.price?.toLocaleString("en-IN")%> / night
        </p>
      </div>
    </div>
  </a>
  <%}%>
</div>